/* font-Family  */
.p1 {
  font-family: "Roboto Mono", monospace;
}

.p2 {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Calligraffitti", cursive;
}
/* font-size */

.p1 {
  font-size: 25px;
}

.p2 {
  font-size: 150%;
}

span {
  font-size: 2.0em;
}
/* font-weight */

.p1 {
  font-weight: lighter;
}
/* line-height */

.p2 {
  line-height: 1.5;
}
/* text-align */

h1 {
  text-align: center;

}
/* text-decoration */

h1 {
  text-decoration: overline;
}
